[submodule ".registry"]
	path = .registry
	url = https://github.com/thierryo/universe
	branch = HEAD
[submodule "INBOmd"]
	path = INBOmd
	url = https://github.com/inbo/inbomd
[submodule "INBOtheme"]
	path = INBOtheme
	url = https://github.com/inbo/inbotheme
[submodule "checklist"]
	path = checklist
	url = https://github.com/inbo/checklist
[submodule "colorblindr"]
	path = colorblindr
	url = https://github.com/clauswilke/colorblindr
	registered = false
[submodule "digest"]
	path = digest
	url = https://github.com/eddelbuettel/digest
[submodule "effectclass"]
	path = effectclass
	url = https://github.com/inbo/effectclass
[submodule "git2rdata"]
	path = git2rdata
	url = https://github.com/ropensci/git2rdata
[submodule "grtsdb"]
	path = grtsdb
	url = https://github.com/inbo/grtsdb
[submodule "inlatools"]
	path = inlatools
	url = https://github.com/inbo/inlatools
[submodule "ladybird"]
	path = ladybird
	url = https://github.com/inbo/ladybird
[submodule "multimput"]
	path = multimput
	url = https://github.com/inbo/multimput
[submodule "qrcode"]
	path = qrcode
	url = https://github.com/ThierryO/qrcode
[submodule "rticles"]
	path = rticles
	url = https://github.com/rstudio/rticles
[submodule "territoria"]
	path = territoria
	url = https://github.com/inbo/territoria
